@font-face {
	font-family: 'Migu1C';
	src: url("assets/migu-1c-regular.ttf");
}

@font-face {
	font-family: 'Migu1C-bold';
	src: url("assets/migu-1c-bold.ttf");
}

:root {
  font-family: Migu1C, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Migu1C", sans-serif !important;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  height: 95vh;
  gap: 18px;
  user-select: none;
}

a {
  text-decoration: none;
}

.list {
  min-width: 80px;
  max-width: 180px;
  width: 35%;
  height: 95vh;
  justify-content: center;
}

.list img {
  width: 100%;
}

.list a img {
  border: 4px solid transparent;
  border-radius: 6px;
}

.list a:hover img {
  border: 4px solid #acacac;
  border-radius: 6px;
}

.view {
  margin: auto;
  padding: 4px;
}

.view img {
  width: 100%;
}

.list .koukicalendar {
  zoom: .8;
}

.list .cal {
  font-size: 160%;
  text-align: center;
}

.koukicalendar {
  width: 45%;
  line-height: 280%;
}

.koukicalendar a {
  text-decoration: none;
  color: #000;
}

.koukicalendar .today a {
  border: 2px solid #1c1c1c;
  border-radius: 8px;
  padding: 5px;
}

.week-sat, .week-sat a {
  color: #02f;
}

.week-sun, .week-sun a, .holiday a {
  color: #f02;
}

#calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  font-size: large;
}

#weather {
  width: 25%;
}

#weather p {
  text-align: center;
}

#weather img {
  min-width: 100px;
  max-width: 180px;
  filter: grayscale(0%) drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.5));
}

#weather .icon svg {
  zoom: 200%;
}

#clock {
  width: 100%;
  font-size: 380%;
  font-weight: bold;
  text-shadow: 0 0 20px #4a4a4a;
  text-align: center;
}

#clock .ymd {
  font-size: x-small;
}

.func {
  z-index: 1001;
  display: flex;
  gap: 14px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: x-large;
}

.night-mode-overlay {
  z-index: 100 !important;
  opacity: 1 !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {

html {
  filter: invert(1) hue-rotate(180deg);
}

body {
  background-color: #efefef;
}

video, img, object *, .night-mode-overlay {
  filter: invert(1) hue-rotate(180deg);
}

}
